<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
	{% block head %}
	{% endblock %}
</title>

    <!-- Bootstrap -->
    <link href="{{ url_for("static",filename="css/bootstrap.min.css")}}" rel="stylesheet">
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

		
		 {% block body %}
                {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="{{ url_for("static",filename="js/jquery.min.js")}}"></script>
	<script src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
	<script src="{{ url_for("static",filename="js/Validform_v5.3.2_ncr_min.js") }}"></script>
        <script type="text/javascript">
		  {% block script %}
                {% endblock %}
       </script>
</body>
</html>
